html, body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: large;
    margin: 0;
}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content:space-around;
    align-items: center;
	width:100%;
}

.content-logo{
    width: 50%;
}
.logo{
    width: 100%;
    justify-content: flex-start;
}

.contacto{
    margin-bottom: 10px;
    padding: 20px;
    width:max-content;
    height: min-content;
    justify-content: flex-end;
    background: rgb(255, 255, 255);
    color: rgb(176, 176, 180);
    border:1px solid rgb(176, 176, 180);
}

.banner{
    background-image: url("https://res.cloudinary.com/sapphiredev/image/upload/v1664456094/Alzua%20inmobiliaria/s2_m9luct.webp");
    background-size: cover;
    width: 100%;
    height: 300px;
    margin: 0;
}

.content-banner{
    display: flex;
    height: 300px;
    width: 50%;
    align-content: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items:flex-end;
}
.slogan{
    margin: auto;
    padding: 15px;
    font-size:medium;
    color: beige;
    font-weight: bold;
}

.container{
    width: 100%;
    height: fit-content;
    background-color: rgb(255, 255, 255);
}

.about-us, .objetivo{
    margin: auto;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* background: rgb(255, 255, 255); */
}

.titulo{
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.texto-centrado{
    text-align: center;
    font-size: small;
    font-weight:500;
    line-height: 2;
}

.servicios-content{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: space-between;
}
.card{
    background-size: cover;
    width: 100%;
    height: 700px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: flex-end;
}

.card-content{
    width: 100%;
    margin: auto;
    height: min-content;
    background-color: rgba(255, 255, 255, 0.9);
}
.card-text, .datos-text{
    text-align: center;
    text-transform:none;
    font-size: small;
}

h4{
    color: darkgray;
}

.footer{
    margin: 0;
    width: 100%;
    height: min-content;
    display: flex;
}
.footer-logo{
    width: 100%;
}
.datos{
    width: min-content;
    display: flex;
    margin: auto;
}

.bg-1{
    background-image: url("https://res.cloudinary.com/sapphiredev/image/upload/v1665445965/Alzua%20inmobiliaria/2225_xl66yp.webp");
}

.bg-2{
    background-image: url("https://res.cloudinary.com/sapphiredev/image/upload/v1665446663/Alzua%20inmobiliaria/2226_ff4arz.jpg");
}

.bg-3{
    background-image: url("https://res.cloudinary.com/sapphiredev/image/upload/v1665447201/Alzua%20inmobiliaria/screen_q1atvq.webp");
}

.bg-4{
margin: auto;
background: rgba(0, 0, 0, 0.064);
color: rgba(0, 0, 0);}

#copyright{
    font-size: xx-small;
    text-align: center;
}